{% extends 'base.html' %}

{% block title %} Available Tables {% endblock %}

{% block content %}

<div class="container">
    {% set tables = ['Orders', 'Customers', 'Platforms', 'Platformtypes'] %}

    <div class="btn-group" role="group">
        {% for el in tables %}
        {% if el == data['name'] %}
        <a href="/show_tables/{{ data['name'] }}">
            <button type="button" class="btn btn-secondary active">{{ data['name'] }}</button>
        </a>
        {% else %}
        <a href="/show_tables/{{ el }}">
            <button type="button" class="btn btn-secondary">{{ el }}</button>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="btn-group" role="group" style="float: right;">
    <form action="/add/{{ data['name'] }}" method="GET">
        <button type="submit" class="btn btn-outline-success">Add row</button>
    </form>
</div>

<div class="container" style="text-align: center;">
    <h2>{{ data['name'] }} table</h2>
</div>


<div class="container" style="display: flex;">

    {% if data['is_empty'] == False %}
    <table class="table table-bordered" style="width: 1340px;">
        <thead>
        <tr>
            {% for field in data['fields'] %}
            <th scope="col">
                {{ field }}
            </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data['table_data'] %}
        <tr>
            {% set curr_id = row.values()|first %}
            {% for el in row.values() %}
            <td>{{ el }}</td>
            {% endfor%}
            {% if el == row[-1] %}
            <td width=50px;>
                <form action="/edit/{{ data['name'] }}/{{ curr_id }}" method="get">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Edit
                    </button>
                </form>
            </td>
            <td width=80px;>
                <form>

                    <button type="submit" class="btn btn-outline-danger btn-sm"
                            onclick="delete_request(event, '/{{ data['name']|lower }}/{{ curr_id }}')">
                        Remove
                    </button>

                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
